*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.hero{
height: 100%;
width: 100%;
background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(Img/astronomy-3187445.jpg);
background-position: center;
background-size: cover;
position: absolute;
}
.z{
    color: white;
}
.k{
    color: rgb(255, 255, 255);
}