*{
    text-decoration: none;
}
body {
    font-family: 'Baloo Bhai', cursive;
    color: rgb(254, 248, 248);
    margin: 0px;
    padding: 0px;
    background-color: rgb(8, 7, 7);
    text-decoration: none;
}

.left {
    position: absolute;
    left: 60px;
    top: 20px;
    display: inline-block;
    /* border: 2px solid red; */

}

.left Img {
    width: 100px;
    filter: invert(100%);
}

.left div {
    text-align: center;
    line-height: 34px;
    font-size: 27px;
}

.mid {
    display: block;
    color: black;
    width: 40%;
    margin: 40px auto;
    position: sticky;
    /* border: 2px solid green; */
}

.right {
    position: absolute;
    right: 32px;
    top: 43px;
    color: white;
    display: inline-block;
    /* border: 2px solid yellow; */
}

.navbar {
    display: inline-block;
}

.navbar li {
    display: inline-block;
    font-size: 25px;
}

.navbar li a {
    color: white;
    text-decoration: none;
    padding: 40px 30px;
}

.navbar li a:hover,
.navbar li a.active {
    text-decoration: underline;
    color: grey;
}

.btn {
    font-family: 'Baloo Bhai', cursive;
    margin: 5px 20px;
    background-color: rgb(253, 253, 8);
    color: rgb(6, 6, 6);
    padding: 10px -8px;
    border: 2px solid grey;
    border-radius: 5px;
    font-size: 32px;
    cursor: pointer;

}

.btn2 {
    font-family: 'Baloo Bhai', cursive;
    margin: 10px 9px;
    background-color: rgb(66, 250, 112);
    color: white;
    padding: 4px 24px;
    border: 2px solid grey;
    border-radius: 5px;
    font-size: 30px;
    cursor: pointer;
}

.btn3 {
    font-family: 'Baloo Bhai', cursive;
    margin: 45px 980px;
    background-color: rgb(247, 9, 231);
    color: white;
    padding: 35px 60px;
    border: 2px solid grey;
    border-radius: 253px;
    font-size: 50px;
    text-align: justify;
    cursor: pointer;
    border-color: brown;
}
.btn4 {
    font-family: 'Baloo Bhai', cursive;
    margin: 27px 1146px;
    background-color: rgb(247, 9, 231);
    color: white;
    padding: 35px 60px;
    border: 2px solid grey;
    border-radius: 253px;
    font-size: 50px;
    text-align: justify;
    cursor: pointer;
    border-color: brown;
    width: 15%;
    height: 140px;
}


.btn3:hover {
    background-color: rgb(43, 255, 28);
    border-color: rgb(71, 3, 57);
}
.btn4 text {
    text-decoration: none;
    text-align: center;
}

.btn4:hover {
    background-color: rgb(43, 255, 28);
    border-color: rgb(71, 3, 57);
}

.btn:hover {
    background-color: rgb(191, 176, 243);
    border-color: rgb(255, 0, 0);
 border-radius: 10px;
 border-width: 6px;
}

.btn2:hover {
    background-color: rgb(242, 66, 224);
    border-color: rgb(255, 0, 0);
 border-radius: 10px;
 border-width: 6px;
}

.container {
border: 5px solid rgb(255, 0, 0);
margin: 93px 145px;
padding: 5px 115px;
width: 82%;
border-radius: 28px;
}
.container1 {
    border: 5px solid rgb(255, 255, 0);
    margin: 93px 145px;
    padding: 27px 65px;
    padding-bottom: 40px;
    width: 86%;
    height: 1175px;
    border-radius: 28px;
}

.container2 {
    border: 5px solid GREEN;
    margin: 93px 145px;
    padding: 27px 65px;
    padding-bottom: 40px;
    width: 86%;
    height: 1175px;
    border-radius: 28px;
}

.container3 {
    border: 5px solid blue;
    margin: 93px 145px;
    padding: 27px 65px;
    padding-bottom: 40px;
    width: 86%;
    height: 1175px;
    border-radius: 28px;
}
.container4 {
    border: 5px solid rgb(255, 0, 128);
    margin: 93px 145px;
    padding: 27px 65px;
    padding-bottom: 40px;
    width: 86%;
    height: 1175px;
    border-radius: 28px;
}

.container img {
   
    border-radius: 50px;
    
}
.container1 img {
    width: 50%;
    height: 926px;
    border-radius: 50px;
    
}
.container2 img {
    width: 50%;
    height: 926px;
    border-radius: 50px;
}
.container3 img {
    width: 50%;
    height: 926px;
    border-radius: 50px;
}  
.container4 img {
    width: 50%;
    height: 926px;
    border-radius: 50px;
}

.container h1 {
    text-align: center;
}
.container1 h1{
    text-align: center;
    
}
.container2 h1 {
    text-align:center;
}

.container3 h1 {
    text-align:center;
}

.container4 h1 {
    text-align: center;
}

.container .btn3 text {
    text-size-adjust: 30px;
}
.z {
    position: absolute;
    margin: -2px 1380px;
    padding: 1px 4px;
    padding-bottom: 0px;
    width: 40%;
    height: 920px;
    border-radius: 0px;
    font-size: 30px;
}
.btn7{
    font-family: 'Baloo Bhai', cursive;
    margin: 27px 1146px;
    background-color: rgb(247, 9, 231);
    color: white;
    padding: 35px 60px;
    border: 2px solid grey;
    border-radius: 253px;
    font-size: 50px;
    text-align: justify;
    cursor: pointer;
    border-color: brown;
    width: 13%;
    height: 140px;
}
.btn7:hover {
    background-color: rgb(43, 255, 28);
    border-color: rgb(71, 3, 57);
 
}